<div class="centered section-height">
  <img
    id="angular-logo"
    src="assets/angular-logo.png"
    alt="Angular logo"
    (load)="imgLoaded = true"
  />
  <div class="card-body" *ngIf="imgLoaded">
    <h3 class="card-title">Angular Projects</h3>
    <p class="card-text">
      A personal blog created with the Angular framework and the Scully static
      site generator
    </p>
    <a href="https://angular.io/" target="_blank" class="card-link">Angular</a>
    <a href="https://scully.io/" target="_blank" class="card-link">Scully</a>
  </div>
</div>
