/* You can add global styles to this file, and also import other style files */
@import "/src/variables.scss";

* {
  border: 0;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: unset;
}

body {
  font-family: "Koulen", cursive;
  font-family: "Roboto Mono", monospace;
}

.p-menubar {
  border-radius: unset !important;
}
.p-card {
  cursor: pointer;

  &:hover {
    background-color: rgb(215, 24, 24) !important;
    color: white !important;
  }
}

.container {
  padding: $container-padding;
}

.content-height {
  height: $content-height;
}

.section-height {
  height: calc($content-height - $container-padding * 2);
}

.centered {
  @include flex-center;
}

.wrap-row {
  @include flex-center;
  flex-wrap: wrap;
  gap: 10px;
}
