/* You can add global styles to this file, and also import other style files */

* {
  border: 0;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: unset;
}

body {
  font-family: "Koulen", cursive;
  font-family: "Roboto Mono", monospace;
}

.p-menubar {
  border-radius: unset !important;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 30px;
}
